{% extends 'base.html.twig' %}
{% block body %}
<div class="content content-projet">
    <div class="carouss">
        <img src="{{ asset('img/'~projet.imageURL) }}" alt="">
        <div class="black-bandeau">
            <h1>{{ projet.titre | upper }}</h1>
        </div>
    </div>
    <div class="presentation-projet">
        <article class="presentation-article-projet">
            <h2>En résumé</h2>
            <p>{{ projet.contenu | raw}}</p>
        </article>
    </div>
    <div class="bloc-categorie">

        <div class="categorie">

        {% for categorie in categories %}

            <a href="{{ path('projet_categorie_articles',{'idProjet':categorie.projet,'idCate':categorie.id}) }}">
                <div class="case-categorie">
                    <h2>{{ categorie.titre }}</h2>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(function(){
            $('#projet').addClass('active');
        })
    </script>
{% endblock %}