{% extends 'base.html.twig' %}
{% block body %}
<div class="content content-projet">
    <div class="carouss">
        <img src="{{ asset(projet.image) }}" alt="">
        <div class="black-bandeau">
            <h1>{{ projet.titre | upper }}</h1>
        </div>
    </div>
    <div class="presentation-projet">
        <article class="presentation-article-projet">
            <h2>En résumé</h2>
            <p>{{ projet.contenu }}</p>
        </article>
    </div>
    <div class="bloc-categorie">

        <div class="categorie">

        {% for categorie in categories %}

            <a href="{{ asset('projet/'~categorie.projet.id~'/categorie/'~categorie.id) }}">
                <div class="case-categorie">
                    <h2>{{ categorie.titre }}</h2>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>

</div>

{% endblock %}