{% extends 'base.html.twig' %}
{% block bootstrap %}



    <!-- Latest compiled and minified JavaScript -->

    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    {% endblock %}

 {% block nav %}
     <nav class="navigation">
         <div class="logo">
             <a href="{{ asset('admin/projet/') }}">Maxime Raguideau</a>
         </div>
         <div class="nav-right">
             <ul class="navigation-liens-droite">
                 <li><a href="/">Accueil</a></li>
                 <li><a href="{{ path('blog_app_last') }}">Actualités</a></li>
                 <li><a href="#">Projets</a>
                     <ul class ="sous-menu">
                         {% for projet in projets %}
                             <li><a href="{{ path('projet_cate', { 'idProjet': projet.id }) }}">{{ projet.titreMenu }}</a></li>
                         {% endfor %}
                     </ul>
                 </li>
                 <li><a href="#">Contact</a></li>
                 <li><a href="{{ path('fos_user_security_logout') }}">
                         {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                     </a></li>
             </ul>
             <div id="navigation-burger" class="navigation-burger">
                 <span></span>
             </div>
         </div>
         <div class="navigation-mobile">
             <ul class="navigation-liens-mobile">
                 <li><a href="/">Accueil</a></li>
                 <li><a href="{{ path('blog_app_last') }}">Actualités</a></li>
                 <li>
                     {% for projet in projets %}
                 <li><a href="{{ path('projet_cate', { 'idProjet': projet.id }) }}">{{ projet.titreMenu }}</a></li>
                 {% endfor %}

                 </li>
                 <li><a href="#">Contact</a></li>
                 <a href="{{ path('fos_user_security_logout') }}">
                     {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                 </a>
             </ul>
         </div>
     </nav>

{% endblock %}
{% block javascripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        tinymce.init({
            selector: '.tinymce',
            height: 500,
            theme: 'modern',
            plugins: [
                'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
            ],
            toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
            image_advtab: true,
            templates: [
                { title: 'Test template 1', content: 'Test 1' },
                { title: 'Test template 2', content: 'Test 2' }
            ],
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css'
            ]
        });
    </script>

{% endblock %}