{% extends 'base.html.twig' %}


{% block body %}
    <hr>
<div class="content content-categorie">
    {% if articles is empty %}
    <section class="section">
        <h1>Il n'y a pas d'articles pour le moment dans cette catégorie.</h1>
    </section>

    {% else %}
        <h1>{{ articles[0].categorie.titre~" - "~articles[0].categorie.projet.titre }}</h1>

        <section class="section">

            {% for article in articles %}

                <article class="article">
                    <h2>{{ article.titre }}</h2>
                    {% if article.imageURL == true %}
                        <img src="{{ asset('img/'~article.imageURL) }}" alt="" class="img">
                    {% endif %}
                    <p>{{ article.contenu | raw}}</p>
                    <span class="btn-ajoutCom">Commentaires</span>
                    <div class="bloc-commentaire"  id="{{ article.id }}">

                {% for commentaire in commentaires if commentaire.article.id == article.id %}

                    <div class="commentaire">{{ commentaire.contenu }}</div>
                {% endfor %}
                    </div>

                </article>
                <hr>

            {% endfor %}

            {% endif %}
            <div class="formulaire-commentaire">
                <div id="form-com" class="form-com">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="g-recaptcha" data-sitekey="6LexZRoUAAAAAL-9h-hEsyRhARpmlTei6oW0razC"></div>
                    <input type="submit" value="Commenter" />
                    {{ form_end(form) }}
                </div>
            </div>
        </section>

    <aside class="aside-cat">
        <h2>Les catégories:</h2>
        {% for categorie in categories %}

                <a class="cate" href="{{ path('projet_categorie_articles',{'idProjet':categorie.projet,'idCate':categorie.id}) }}">{{ categorie.titre }}</a></h2>

        {% endfor %}
    </aside>

</div>


{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(function() {
            $('#projet').addClass('active');
            $('.formulaire-commentaire').hide();
            $('.bloc-commentaire').hide();
            form = $('#form-com');
            valueId = $('.bloc-commentaire:first').attr('id');
            ajoutForm(valueId);

            $('.btn-ajoutCom').on('click',function(e){
                $('.bloc-commentaire').slideUp();
                var bloc = $(this).next('.bloc-commentaire');
                bloc.toggle();
                valueId = bloc.attr('id');
                ajoutForm(valueId);
            });

            function ajoutForm(valueId){
                valueId = parseInt(valueId);
                $('select').each(function (i) {
                    $("#blogbundle_commentaires_article > option[selected = 'selected']").attr('selected',false);
                });
                $('#blogbundle_commentaires_article > option[value = "'+valueId+'"]').attr('selected',true);
                id = '#' + valueId;
                $(id).append(form);
            }

        });

    </script>

{% endblock %}
