{% extends 'base.html.twig' %}
{% block body %}

    <div class="content content-last">
 <h1>Les derniers articles</h1>
        <section class="section">

            {% for article in articles %}

                <article class="article">
                    <h2>{{ article.titre }} | {{ article.categorie.projet.titre }}</h2>
                    {% if article.imageURL == true %}
                        <img src="{{ asset('img/'~article.imageURL) }}" alt="" class="img">
                    {% endif %}
                    <p>{{ article.contenu | raw}}</p>
                    <span class="btn-ajoutCom">Commentaires</span>
                    <div class="bloc-commentaire"  id="{{ article.id }}">

                        {% for commentaire in commentaires if commentaire.article.id == article.id %}

                            <div class="commentaire">{{ commentaire.contenu }}</div>
                        {% endfor %}
                    </div>

                </article>
                <hr>

            {% endfor %}


            <div class="formulaire-commentaire">
                <div id="form-com" class="form-com">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Create" />
                    {{ form_end(form) }}
                </div>
            </div>
        </section>

    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(function() {
            $('.formulaire-commentaire').hide();
            $('.bloc-commentaire').hide();
            form = $('#form-com');
            valueId = $('.bloc-commentaire:first').attr('id');
            ajoutForm(valueId);

            $('.btn-ajoutCom').on('click',function(e){
                var bloc = $(this).next('.bloc-commentaire');

                bloc.toggle();

                valueId = bloc.attr('id');
                ajoutForm(valueId);
            });

            function ajoutForm(valueId){

                valueId = parseInt(valueId);
                $('select').each(function (i) {
                    $("#blogbundle_commentaires_article > option[selected = 'selected']").attr('selected',false);
                });
                $('#blogbundle_commentaires_article > option[value = "'+valueId+'"]').attr('selected',true);
                id = '#' + valueId;
                $(id).append(form);
            }

        });

    </script>

{% endblock %}