{% extends 'admin/admin.html.twig' %}

{% block body %}

    <div class="content content-projet">
        <div class="carouss">
            <img src="{{ asset('img/'~projet.image) }}" alt="">
            <div class="black-bandeau">
                <h1>{{ "Modification du projet : "~projet.titre | upper }} </h1>
            </div>
        </div>
        <div class="presentation-projet">
            <article class="presentation-article-projet">
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Edit" class="editer" />
                {{ form_end(edit_form) }}
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="delete">
                {{ form_end(delete_form) }}
            </article>
        </div>
        <div class="bloc-categorie">

            <div class="categorie">
                <h2  class="create"><a href="{{ path('admin_categories_new',{'id':projet.id}) }}">Créer une nouvelle catégorie</a></h2>
                {% for categorie in categories %}
                    <div class="case-categorie">
                        <ul>
                            <li><a href="{{ path('admin_projet_categorie',{'idProjet':categorie.projet,'idCate':categorie.id}) }}">{{  categorie.titre }} </a></li>
                            <li><a class="editer" href="{{ path('admin_categories_edit', { 'id': categorie.id }) }}">Editer</a></li>
                        </ul>
                    </div>
                {% endfor %}

            </div>
        </div>

    </div>

{% endblock %}
